[submodule "/home/s5614279/Master Project/AutoSFX/submodules"]
	path = /home/s5614279/Master Project/AutoSFX/submodules
	url = https://github.com/facebookresearch/fairseq.git
[submodule "videoCLIP"]
	path = videoCLIP
	url = https://github.com/facebookresearch/fairseq.git
[submodule "grad-cam"]
	path = grad-cam
	url = https://github.com/ramprs/grad-cam.git
